version: "3"

services:
    music-server:
        image: php:7.3-apache
        ports:
            - 9010:80
        restart: unless-stopped
        volumes:
            - ./DocumentRoot:/var/www/html
            - /shares/Media/Music:/var/www/html/Music

networks:
    default:
        external:
            name: commonnetwork1
